@import "../../../styles.scss";

.my-navbar {
  color: var(--navbar-color) !important;
  font-size: x-large !important;
}

.navbar-brand {
  font-weight: 700 !important;
  display: flex;
}

.icon {
  cursor: pointer;
  padding-left: 0.5em;
  color: var(--icon-color) !important;
}

.icon:hover {
  color: var(--icon-color2) !important;
  transition: 0.4s;
}
